[package]
name = "breez-sdk-spark"
edition = "2024"
version.workspace = true

[features]
default = ["default-tls"]
browser-tests = [] # Enable browser wasm-pack tests
uniffi = [
    "dep:uniffi",
    "openssl-vendored",
]
openssl-vendored = ["openssl"]
test-utils = []
# TLS features
default-tls = ["reqwest/default-tls", "breez-sdk-common/default-tls", "flashnet/default-tls"]
rustls-tls = ["reqwest/rustls-tls", "breez-sdk-common/rustls-tls", "flashnet/rustls-tls"]
native-tls = ["reqwest/native-tls", "breez-sdk-common/native-tls", "flashnet/native-tls"]

[lib]
crate-type = ["staticlib", "cdylib", "lib"]
name = "breez_sdk_spark"

[lints]
workspace = true

[dependencies]
async-trait.workspace = true
base64.workspace = true
bip39.workspace = true
bitcoin.workspace = true
bitflags.workspace = true
breez-sdk-common.workspace = true
chrono.workspace = true
ecies.workspace = true
flashnet.workspace = true
hex.workspace = true
lnurl-models.workspace = true
macros.workspace = true
nostr.workspace = true
openssl = { workspace = true, optional = true }
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
spark-wallet.workspace = true
thiserror.workspace = true
tokio_with_wasm.workspace = true
tracing.workspace = true
tracing-subscriber = { workspace = true, features = ["env-filter"] }
uuid.workspace = true
uniffi = { workspace = true, optional = true }
web-time.workspace = true
x509-parser = { version = "0.16.0" }
anyhow.workspace = true
frost-secp256k1-tr = { workspace = true }
k256 = { workspace = true, features = ["arithmetic"] }

# Non-Wasm dependencies
[target.'cfg(not(all(target_family = "wasm", target_os = "unknown")))'.dependencies]
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
rusqlite.workspace = true
rusqlite_migration.workspace = true

# WASM dependencies
[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dependencies]
tokio = { workspace = true, features = ["macros"] }

[dev-dependencies]
breez-sdk-common = { workspace = true, features = ["test-utils"] }
breez-sdk-spark = { workspace = true, features = ["test-utils"] }

# WASM dev dependencies
[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dev-dependencies]
wasm-bindgen-test.workspace = true

[build-dependencies]
built.workspace = true
uniffi = { workspace = true, features = ["build"], optional = true }
